*{
    padding:0px ;
    margin: 0px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;

}


header{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 13px;
}

.title{
    font-size: 28px;
}

section{
    padding: 20px;
    background-image: url(img/people.jpg);
    background-size: cover;
    overflow: hidden;
    
}

.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    border-radius: 20px;
    padding: 20px;
    float: right;
}

h2{
    font-size:20px ;
}

p{
    font-size: 14px;
}

.mb{
    margin-bottom:15px ;
}

input,select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color:dodgerblue ;
    font-weight: bold;
}

select{
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance: none;

    background-image: url(img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
}

.description{
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 30%;
    margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}

@media screen and (max-width: 500px) {
    .formContainer{
        background-color: #ffffff3e;
        border-radius: 20px;
        color: white;
    }

    section{
        background-color: aquamarine;
        display: flex;
        justify-content: center;
    }
}